## Data Wrangling: Clean, Transform, Merge, Reshape

## Combining and merging data sets

### Database-style DataFrame merges

In [2]:
df1 = pd.DataFrame({'data1' : range(7), 'key' : list('bbacaab')})
df2 = pd.DataFrame({'data2' : range(20,23), 'key' : list('abd')})

By default, .merge() performs an [inner join](https://www.w3schools.com/sql/sql_join.asp) between the DataFrames, using the common columns as keys.

That means that it returns the cartesian product of the elements with common keys: if there are duplicates, it will return all the possible combinations:

If the columns to join on don't have the same name, or we want to join on the index of the DataFrames, we'll need to specify that.

In [8]:
df3 = pd.DataFrame({'data1' : range(7), 'lkey' : list('bbacaab')})
df4 = pd.DataFrame({'data2' : range(3), 'rkey' : list('abd')})

If there are two columns with the same name that we do not join on, both will get transferred to the resulting DataFrame with a suffix. We can customize these suffixes.

### Merging on index

In [16]:
df5= pd.DataFrame({'g': range(4), 'h': range(8,12)}, index =list('abcd'))
df5

   g   h
a  0   8
b  1   9
c  2  10
d  3  11

### Concatenating along an axis

In [23]:
s1 = pd.Series(range(4), index=list('abcd'))
s2 = pd.Series(range(10,13), index=list('lmn'))
s3 = pd.Series(range(40,43), index=list('xyz'))
s1,s2,s3

(a    0
 b    1
 c    2
 d    3
 dtype: int64, l    10
 m    11
 n    12
 dtype: int64, x    40
 y    41
 z    42
 dtype: int64)

#### Digression

Attention! Be careful not to reassign to reserved words or functions- you will overwrite the variable.

You can delete the overwritten variable, but you won't get back the original value. If it is an object or function from a module, you'll need to reload() the module, since Python doesn't load again an already imported module if you try to import it. reload() is useful also when you are actively developing your own module and want to load the latest definition of a function into memory.

## Data transformation

### Removing duplicates

In [34]:
df6 = pd.DataFrame({'key1' : ['one'] * 3 + ['two'] * 4,
                    'key2' : [1, 1, 2, 3, 3, 4, 4]})
df6

  key1  key2
0  one     1
1  one     1
2  one     2
3  two     3
4  two     3
5  two     4
6  two     4

### Renaming axis indexes

### Discretization and binning

## String manipulation

### String object methods

### Vectorized string functions in pandas

[Vectorized string functions in pandas](https://pandas.pydata.org/pandas-docs/stable/text.html) are grouped within the .str attribute of Series and Indexes. They have the same names as the regular Python string functions, but work on Series of strings.