## Write a Web Service

Wrap the output of the second exercise in a web service that returns the data in JSON format (instead of printing to the standard output).

The web service should accept a parameter n>0. For the top 10 airports, n is 10. For the X top airports, n is X

In [1]:
%%time
import pandas as pd
path='/home/dsc/Data/challenge'
file_name='bookings.csv.bz2'
#file_name='bookings.csv.bz2'

sum_chunks=pd.DataFrame()

bc = pd.read_csv(path+'/'+file_name,sep='^',usecols=['arr_port','pax','year'], chunksize=1000000)
bc = pd.read_csv(path+'/'+file_name,sep='^',usecols=['arr_port','pax','year'], chunksize=3000) #for sample file
for i,chunk in enumerate(bc):
    print i
    chunk_airports=chunk[chunk['year'] == 2013][['arr_port','pax']].dropna().groupby(['arr_port']).sum().reset_index()
    sum_chunks=sum_chunks.append(chunk_airports)
    
#topairports=sum_chunks.groupby('arr_port').pax.sum().sort_values(ascending=False).reset_index().head(10) 

#we are going to need this for the web service so we'll put it without top10
topairports=sum_chunks.groupby('arr_port').pax.sum().sort_values(ascending=False).reset_index() 

from GeoBases import GeoBase
geoDict = GeoBase(data='ori_por', verbose=False)

allairports['arr_port']=allairports.arr_port.map(lambda x: x.strip())
allairports['Airport Name']=allairports.arr_port.map(lambda x: geoDict.get(x)['name'])
allairports.to_csv('allairports.csv',sep='^', index=False)

topairports=allairports.head(10)

0
1
2
3
4
5
6
7
8
9
10
CPU times: user 3min 33s, sys: 1.21 s, total: 3min 34s
Wall time: 3min 35s

## Web Service

http://flask.pocoo.org/docs/0.10/quickstart/

In [1]:
from flask import Flask

In [2]:
app = Flask("My first web service")
@app.route('/hello', methods=['GET'])
#GET    The browser tells the server to just get the information stored on that page and send it. 
def get_hello():
    return "Hello DS from the service!"

In [3]:
app.run()
#Running on http://127.0.0.1:5000/

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [14/May/2017 07:23:55] "GET / HTTP/1.1" 404 -
127.0.0.1 - - [14/May/2017 07:23:55] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [14/May/2017 07:23:55] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [14/May/2017 07:24:15] "GET /hello HTTP/1.1" 200 -

In [4]:
del app

http://127.0.0.1:5000/hello

HTTP (the protocol web applications are speaking) knows different methods for accessing URLs. By default, a route only answers to GET requests, but that can be changed by providing the methods argument to the route() decorator.

The HTTP method (also often called “the verb”) tells the server what the clients wants to do with the requested page.

GET
    The browser tells the server to just get the information stored on that page and send it. This is probably the most common method.

HEAD
    The browser tells the server to get the information, but it is only interested in the headers, not the content of the page. An application is supposed to handle that as if a GET request was received but to not deliver the actual content.
    
POST
    The browser tells the server that it wants to post some new information to that URL and that the server must ensure the data is stored and only stored once. This is how HTML forms usually transmit data to the server.

PUT
    Similar to POST but the server might trigger the store procedure multiple times by overwriting the old values more than once. Now you might be asking why this is useful, but there are some good reasons to do it this way. Consider that the connection is lost during transmission: in this situation a system between the browser and the server might receive the request safely a second time without breaking things. With POST that would not be possible because it must only be triggered once.

DELETE
    Remove the information at the given location.

OPTIONS
    Provides a quick way for a client to figure out which methods are supported by this URL. Starting with Flask 0.6, this is implemented for you automatically.

In [10]:
app = Flask("My second web service")
@app.route('/ret_number/<int:n>', methods=['GET'])
#GET    The browser tells the server to just get the information stored on that page and send it. 
def get_hello(n):
    return "I will return you a number. It was %d !!!!" % n

In [11]:
app.run()
#Running on http://127.0.0.1:5000/

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [14/May/2017 07:31:44] "GET /ret_number/q HTTP/1.1" 404 -
127.0.0.1 - - [14/May/2017 07:31:48] "GET /ret_number/10 HTTP/1.1" 200 -
127.0.0.1 - - [14/May/2017 07:31:50] "GET /ret_number/10s HTTP/1.1" 404 -

In [12]:
app = Flask("My second web service")
@app.route('/ret_number/<n>', methods=['GET'])
#GET    The browser tells the server to just get the information stored on that page and send it. 
def get_hello(n):
    try:
        numb=int(n)
        return "I will return you a number. It was %d !!!!" % numb
    except:
        return "Could not find a number!!!!"

In [13]:
app.run()

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [14/May/2017 07:32:46] "GET /ret_number/10s HTTP/1.1" 200 -
127.0.0.1 - - [14/May/2017 07:32:50] "GET /ret_number/s HTTP/1.1" 200 -
127.0.0.1 - - [14/May/2017 07:32:54] "GET /ret_number/1000 HTTP/1.1" 200 -

----------------------------------------
Exception happened during processing of request from ('127.0.0.1', 45084)
----------------------------------------

Traceback (most recent call last):
  File "/home/dsc/anaconda2/lib/python2.7/SocketServer.py", line 290, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/home/dsc/anaconda2/lib/python2.7/SocketServer.py", line 318, in process_request
    self.finish_request(request, client_address)
  File "/home/dsc/anaconda2/lib/python2.7/SocketServer.py", line 331, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/home/dsc/anaconda2/lib/python2.7/SocketServer.py", line 652, in __init__
    self.handle()
  File "/home/dsc/anaconda2/lib/python2.7/site-packages/werkzeug/serving.py", line 232, in handle
    rv = BaseHTTPRequestHandler.handle(self)
  File "/home/dsc/anaconda2/lib/python2.7/BaseHTTPServer.py", line 340, in handle
    self.handle_one_request()
  File "/home/dsc/anaconda2/lib/python2.7/site-packages/werkzeug/serving.py", line 263, in handle_one_request
    self.raw_requestline = self.rfile.readline()
  File "/home/dsc/anaconda2/lib/python2.7/socket.py", line 451, in readline
    data = self._sock.recv(self._rbufsize)
KeyboardInterrupt

In [17]:
ls -l

total 1014792
-rw-rw-r--. 1 dsc dsc 554970628 Jan  4  2016 bookings.csv.bz2
-rw-rw-r--  1 dsc dsc    535893 May 13 06:46 bookings.sample.csv.bz2
-rw-rw-r--  1 dsc dsc    425006 May  9 22:51 bookings.sample.csv.csv
-rw-rw-r--. 1 dsc dsc 483188920 Jan  4  2016 searches.csv.bz2
-rw-rw-r--  1 dsc dsc       467 May 13 08:34 top_airports.csv

In [16]:
cd ~/Data/challenge

/home/dsc/Data/challenge

In [19]:
import pandas as pd
top=pd.read_csv('top_airports.csv',sep='^')
top.tail()

   arr_port  pax                               Airport Name
5  LAX        91          Los Angeles International Airport
6  MCO        90              Orlando International Airport
7  DCA        82  Ronald Reagan Washington National Airport
8  DEN        79               Denver International Airport
9  LHR        76                    London Heathrow Airport

In [20]:
top.head(5)

   arr_port  pax                          Airport Name
0  HKG       112       Hong Kong International Airport
1  LGA        95                    La Guardia Airport
2  ORD        94  Chicago O'Hare International Airport
3  JFK        92  John F Kennedy International Airport
4  SFO        91   San Francisco International Airport

JavaScript Object Notation, es un formato de texto ligero para el intercambio de datos
JSON is text, written with JavaScript object notation.
    JSON is data exchange format. You convert to it when you need to make the data available externally. 
var myObj = { "name":"John", "age":31, "city":"New York" };

In [106]:
top.head(5).to_json()

'{"arr_port":{"0":"HKG     ","1":"LGA     ","2":"ORD     ","3":"JFK     ","4":"SFO     "},"pax":{"0":112,"1":95,"2":94,"3":92,"4":91},"Airport Name":{"0":"Hong Kong International Airport","1":"La Guardia Airport","2":"Chicago O\'Hare International Airport","3":"John F Kennedy International Airport","4":"San Francisco International Airport"}}'

In [79]:
import json
#como mandariamos una lista
#y un dict

In [115]:
json.dumps(list("abcd"))

'["a", "b", "c", "d"]'

In [116]:
myDict = { "name":"John", "age":31, "city":"New York" };

In [117]:
json.dumps(myDict)

'{"city": "New York", "age": 31, "name": "John"}'

In [118]:
myDict2 = { "name":["John","Joana"], "age":[31,29], "city":["New York","Paris"] };

In [119]:
json.dumps(myDict2)

'{"city": ["New York", "Paris"], "age": [31, 29], "name": ["John", "Joana"]}'

In [101]:
type(myDict2)

dict

In [122]:
df_from_dict=pd.DataFrame.from_dict(myDict2)
#df_from_dict=pd.DataFrame.from_dict(myDict2,orient='columns') #columns or index
#If the keys of the passed dict should be the columns of the resulting DataFrame, pass 'columns' (default). 
#Otherwise if the keys should be rows, pass 'index'.
df_from_dict

   age      city   name
0   31  New York   John
1   29     Paris  Joana

In [123]:
df_from_dict.to_json()

'{"age":{"0":31,"1":29},"city":{"0":"New York","1":"Paris"},"name":{"0":"John","1":"Joana"}}'

In [124]:
data_received={"age":{"0":31,"1":29},"city":{"0":"New York","1":"Paris"},"name":{"0":"John","1":"Joana"}}
#data_received={"age":{"0":31,"1":29},"city":{"1":"Paris"},"name":{"0":"John","1":"Joana"}} #seen as NAN in DataFrame

In [125]:
data_received

{'age': {'0': 31, '1': 29},
 'city': {'0': 'New York', '1': 'Paris'},
 'name': {'0': 'John', '1': 'Joana'}}

In [128]:
#what happens if we all elementes are not defined?
data_received={"age":{"0":31,"1":29},"city":{"1":"Paris"},"name":{"0":"John","1":"Joana"}} #seen as NAN in DataFrame

In [130]:
data_received

{'age': {'0': 31, '1': 29},
 'city': {'1': 'Paris'},
 'name': {'0': 'John', '1': 'Joana'}}

In [131]:
df_received=pd.DataFrame(data_received)

In [132]:
df_received

   age   city   name
0   31    NaN   John
1   29  Paris  Joana

In [106]:
top.head(5).to_json()

'{"arr_port":{"0":"HKG     ","1":"LGA     ","2":"ORD     ","3":"JFK     ","4":"SFO     "},"pax":{"0":112,"1":95,"2":94,"3":92,"4":91},"Airport Name":{"0":"Hong Kong International Airport","1":"La Guardia Airport","2":"Chicago O\'Hare International Airport","3":"John F Kennedy International Airport","4":"San Francisco International Airport"}}'

http://jsonprettyprint.com/
https://jsonformatter.curiousconcept.com/

In [133]:
import pandas as pd
top=pd.read_csv('/home/dsc/Data/challenge/top_airports.csv',sep='^')

In [134]:
app2 = Flask("Top Airports")
@app2.route('/top/<int:n>',methods=['GET'])

def get_top(n):
    d = top.head(n)
    return d.to_json()

In [135]:
app2.run()

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [15/May/2017 07:22:39] "GET /ret_number/10 HTTP/1.1" 404 -
127.0.0.1 - - [15/May/2017 07:22:52] "GET /top/10 HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2017 07:22:56] "GET /top/100 HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2017 07:23:04] "GET /top/100 HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2017 07:23:08] "GET /top/2 HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2017 07:23:11] "GET /top/20 HTTP/1.1" 200 -

In [9]:
del app2

In [138]:
app2 = Flask("Top Airports")

#it doesnt have to be top/Number it van be topNumber directly 
@app2.route('/top<int:n>',methods=['GET'])
def get_top(n):
    d = top.head(n)
    return d.to_json()

@app2.route('/', methods=['GET'])
def get_hello():
    return "Hello from my second web service!"

In [139]:
app2.run()

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [15/May/2017 07:28:29] "GET /top15 HTTP/1.1" 200 -

from werkzeug.serving import run_simple
run_simple('localhost', 5000, app2)

# Ostaci

In [2]:
topairports.arr_port.head()

0    LHR
1    MCO
2    LAX
3    LAS
4    JFK
Name: arr_port, dtype: object

In [3]:
topairports2=topairports.copy()

In [5]:
list(topairports2.arr_port.head())

['LHR     ', 'MCO     ', 'LAX     ', 'LAS     ', 'JFK     ']

map= works element wise on series

apply= works on row/columns of DF (def=columns; axis=1 => rows); works on DF of group by

applymap = works element wise on DF

In [13]:
topairports2.arr_port=topairports2.arr_port.map(str.strip)

In [14]:
list(topairports2.arr_port.head())

['LHR', 'MCO', 'LAX', 'LAS', 'JFK']

In [22]:
#topairports.pax=pd.to_numeric(topairports.pax)

In [28]:
topairports2.pax=topairports2.pax.map(lambda x:int(x))

In [48]:
topairports2.to_csv('top_airports.csv',sep='^', index=False)

In [14]:
def plus_one(x):
    return x+1
def sum_serie(x):
    return sum(x)

In [10]:
a=pd.DataFrame({"one":[1,2,3,4],
               "two":[2, 3, 4, 5]}, index=[5, 6, 7, 8])

In [11]:
a

   one  two
5    1    2
6    2    3
7    3    4
8    4    5

In [13]:
a.applymap(plus_one)

   one  two
5    2    3
6    3    4
7    4    5
8    5    6

In [15]:
sum_serie([1,2,3])

6

In [17]:
sum_serie(a['one'])

10

In [24]:
a.apply(plus_one)

   one  two
5    2    3
6    3    4
7    4    5
8    5    6

In [25]:
a.map(plus_one)

AttributeError: 'DataFrame' object has no attribute 'map'

In [26]:
a.one.map(plus_one)

5    2
6    3
7    4
8    5
Name: one, dtype: int64

In [27]:
a.one.map(sum_serie)

TypeError: 'numpy.int64' object is not iterable

In [28]:
a.apply(sum_serie)

one    10
two    14
dtype: int64